<p xmlns="http://www.w3.org/1999/html">This is the Posts page of User.</p>

<div>
    <h3><a href="#!/user/{{user.id}}">{{user.name}}'s</a> network is:</h3>
    <hr>
    <h4>Create Post:</h4>
    <div>
        <form>
            Message: <input type="text" ng-model="newPost.message">
            <button ng-click="makeNewPost()">Submit</button>
        </form>

    </div>
    <hr>
    <h4>My Posts:</h4>
    <div ng-repeat="post in postList">
        <h3></h3><a href="#!/user/{{post.user.id}}">{{post.message}}</a><button ng-click="delete(post)">Delete</button><button ng-click="makePublic(post)">Public</button>
        <br>
        <i>Like Count: </i> {{post.likeCount}}
        <i>Is it Public?</i> {{post.isPublicPost}}

    </div>
    <hr>
    <h4>Posts from Network:</h4>
    <div ng-repeat="feed in feedList">
        <h3></h3><a href="#!/user/{{feed.user.id}}">{{feed.message}}</a><button ng-click="delete(post)">Hide</button> <button ng-click="likePost(feed)">Like</button>
    </div>
    <hr>

</div>