<p xmlns="http://www.w3.org/1999/html">This is the Network page of User.</p>

<div>
    <h3><a href="#!/user/{{user.id}}">{{user.name}}'s</a> network is:</h3>
    <hr>
    <h4>Followers:</h4>
    <div ng-repeat="follower in followersList">
        <h3></h3><a href="#!/user/{{follower.user.id}}">{{follower.user.name}}</a><button ng-click="unFollow(follower)">Un-follow</button>
    </div>
    <hr>
    <h4>Following:</h4>
    <div ng-repeat="following in followingList">
        <h3></h3><a href="#!/user/{{following.followingUser.id}}">{{following.followingUser.name}}</a> <button ng-click="unFollow(following)">Un-follow</button>
    </div>
    <hr>
    <h4>Accept Follower Request:</h4>
    <div ng-repeat="acceptFollower in acceptFollowerList">
        <a href="#!/user/{{acceptFollower.user.id}}">{{acceptFollower.user.name}}</a><button ng-click="accept(acceptFollower)">Accept</button>
    </div>
    <hr>

    <h4>Pending Follow Requests:</h4>
    <div ng-repeat="pendingRequest in pendingRequestList">
        <a href="#!/user/{{pendingRequest.followingUser.id}}">{{pendingRequest.followingUser.name}}</a><button ng-click="unFollow(pendingRequest)">Revoke</button>
    </div>
    <hr>

    <h4>Start Following:</h4>
    <div ng-repeat="suggestedUser in suggestionUsers">
        <h3></h3><a href="#!/user/{{suggestedUser.id}}">{{suggestedUser.name}}</a><button ng-click="follow(suggestedUser)">Follow</button>
    </div>
    <hr>

</div>