<p xmlns="http://www.w3.org/1999/html">This is the profile Screen of User.</p>

<div>
    <h3>Hello {{user.name}}!</h3>
    <h6><a href="#!/network/{{user.id}}">My Network</a></h6> <h6><a href="#!/posts/{{user.id}}">My Posts</a></h6>
    <hr>
    <h4>My Settings:</h4>
    <i>Can everyone Follow:</i> {{user.openFollow}} <br>
    <i>Can everyone Message:</i> {{user.openFollow}} <br>
    <i>Can everyone See Profile:</i> {{user.openProfile}} <br>
    <hr>
</div>
